.gornji{
    margin-left: 100px;
    margin-right: 100px;
    position: fixed;
    left: 10%;
    right: 10%;
    background-color: darkgreen;

    border-radius: 50%;
    border: solid green;
    text-align: center;
    
}

.naslov{
    width: 500px;
    background-color: white;
    font-size: 3rem;
    font-family:cursive;
    color: darkgreen;
    position: relative;
    left: 20%;
    text-shadow: 2px 2px greenyellow;

}

.boja {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8lWfmMpgCh8LbnZD0tfPA_kCAHX6Ww1yScQ&usqp=CAU);
    background-repeat:unset;
}

.Sportslike{
    width: 50%;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.Sportlista{
    list-style: none;
    display: inline-block;
    color: #f2f2f2;
    width: 550px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    
}
.A{
    text-decoration: none;
    background-color: green;
    color: white;
    display: inline;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    bottom: 50%;
    font-family: monospace;
    
    
}

.B{
    display: block;
    height: 200px;
    
}

.naslovih3{
    color:whitesmoke ;
    font-size: 2rem;
    text-shadow: 2px 2px;
    padding-left: 50px;
    background-color: darkgreen;
    border: white;
    border-style: dotted;


}

p{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.donji{
    background-color: green;
    
}

hr{
    background-color: white;
}









.kontaktbody{
    background-color: green;
}

.slikekontakt{
    height: 100px;
    width: 100px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: darkgreen;
    
    position: relative;
    border: white;
    border-style:double;
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    text-shadow: 2px 2px 5px white;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    border: white;
    border-style:double;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .bar{
    text-shadow: 2px 2px 5px white;
  }

  h4{
      display: inline;
      padding-left: 7%;
      padding-right: 7%;
      width: 100px;

      
  }

  .bg{
      background-color: green;
  }

  #nslv{
      background-color: greenyellow;
      color: green;
      display: inline;
      padding-left: 50%;
      padding-right: 50%;
  }

  .kontener{
      border: greenyellow;
      border-style: dotted;
      margin-right: 49px;
      margin-left: 49px;

  }

  #a{
    border: greenyellow;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
    
  }

  #b{
    border: greenyellow;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
  }

  #c{
    border: greenyellow;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
  }

  #d{
    border: greenyellow;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
    
  }
