.gornji{
    

  padding-bottom: 10px;
    background-image: url(https://wallpapercave.com/wp/bfATswl.jpg);

    
    border: solid green;
    text-align: center;
    
}

.sadrzaj{
  margin-top: 25px;
}

.naslov{
    width: 500px;
   
    font-size: 5rem;
    font-family:cursive;
    color: black;
    position: relative;
    left: 15%;
    text-shadow: 2px 2px greenyellow;


}

.boja {
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB-4pQsQRPW72cwY5w0c7OJVbLtVGRhB5itw&usqp=CAU);
    
    margin: 0px;
    font-family: 'segoe ui';
    text-align: center;
}

.Sportslike{
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.Sportlista{
    list-style: none;
    display: inline;
    color: #f2f2f2;
    width: 550px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    
    
}
.Sportovi{
  margin:auto 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.A{
    
   
    color: white;
    display: inline;

    font-size: 30px;
    position: relative;
    bottom: 50%;
    
    
    
}

.B{
    display: inline;
    height: 200px;
    
}

.naslovih3{
    color:whitesmoke ;
    font-size: 2rem;
    text-shadow: 2px 2px;
    padding-left: 50px;
    background-color: darkgreen;
    border: white;
    border-style: dotted;
  


}

p{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.donji{
    background-color: green;
    
}

hr{
    background-color: white;
    
}


#tekstonama{
  font-family:Georgia, 'Times New Roman', Times, serif;
}







.kontaktbody{
  background-image:url(https://wallpapercave.com/wp/uImVlq8.jpg);
  background-repeat:unset;  
}

.slikekontakt{
    height: 100px;
    width: 100px;
}

* {
    box-sizing: border-box;
  }
  

  
  .nav {
    height: 50px;
    width: 100%;
    background-color: darkgreen;
    
    position: relative;
    margin-top: 12%;
    border: white;
    border-style:double;
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    text-shadow: 2px 2px 5px white;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    border: white;
    border-style:double;
    padding-left: 200px;
    padding-right: 125px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .bar{
    text-shadow: 2px 2px 5px white;
    margin-right: 75px;
  }

  h4{
      display: inline;
      padding-left: 7%;
      padding-right: 7%;
      width: 200px;
      color: white;

      
  }

  .bg{
    background-image:url(https://wallpapercave.com/wp/uImVlq8.jpg);
    background-repeat:unset;
    margin-left: 0px;
    
  }

  #nslv{
      background-color: whitesmoke;
      color:black;
      display: inline;
      padding-left: 50%;
      padding-right: 50%;
      font-size: 2rem;
    
  }

  .kontener{
      border: white;
      border-style: dotted;
      margin-right: 15%;
      margin-left: 15%;
      margin-bottom: 50px;

  }

  .kontener2{
    margin-left: 49px;
    margin-right: 49px; 
  }

  .slike-sadrzaj{
    height: 100px;
    width: 100px;
    display: block;
    
  }

  .pomak1{
    display: inline-block;
    position: relative;
    left: 17%;
  }

  .pomak2{
    display: inline-block;
    position: relative;
    left: 19%;
  }

  .pomak3{
    display: inline-block;
    position: relative;
    left: 22%;
  }

  .pomak4{
    display: inline-block;
    position: relative;
    left: 26%;
  }

.pomak5{
    display: inline-block;
    position: relative;
    left: 27%;
}

  .tekst{
    font-size: 1rem;
    font-family: monospace;
    font-variant: small-caps;
  }
  #a{
    border: white;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
    
    
  }


  #b{
    border: white;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;

  }

  #c{
    border: white;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;

  }

  #d{
    border: white;
    border-style: dotted;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
  }

  #e{
    padding-right: 0px;
    padding-left:7%;
    
  }

  #povratak{
    
    background-color: gray;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: cursive;

    
  }
  .D{
    color: white;
    
  }
  .cijena{
    border: white;
    border-style: solid;
  }
  .pitanjaikontakt{
    background-color:seagreen;
    border: white;
    border-style:ridge;
    font-family: fantasy;
  }

label{
  display: block;
}

#pozadina{
  background-image:url(https://wallpapercave.com/wp/uImVlq8.jpg);
  background-repeat:unset;
  margin-left: 0px;
}

.unos{
color: white;
position: relative;
left: 15%;
margin-right: 45%;
margin-left: 25%;
}

.da{
  color: white;
  position: relative;
  text-align: center;
  font-family: cursive;
  text-shadow: 3px 2px grey;
}

#labl{
  display: inline;
}

.klasa{
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#centar{
  text-align: center;
}

#centar1{
  text-align: center;
}

.polje{
  position: absolute;
  left: 5%;
  top: 10%;
  display: inline;
 
}

#pretraga{
  color: white;
}

#gumb{
  color: black;
  text-decoration: none;
}

#logo{
  position: absolute;
  left: 55%;
  top: 5%;
  margin-top: 36px;
  height: 200px;
  width: 400px;
  transform: rotate(20deg);
}